* {
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 122, 122);
    background-image: url("bg-intro-desktop.png");
    display: flex;
    height: 100vh;
}
h1{
    font-family: 'Poppins';
    font-size: 43px;
    color: #FDF6F6;
    line-height: 37px;
}
input{
    font-family: 'Poppins';
    font-size: 12px;
    padding-left: 5px;
}
p{
    font-family: 'Poppins';
    color: rgb(185, 182,211);
}
h3{
    font-family: 'Poppins';
    color: #FDF6F6;
    font-weight: bold;
    font-size: small;
}
h2{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    color: #FDF6F6;
}
#lefttext{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 250px auto auto 180px;
    gap: 10px;
}
#righttext{
    display: flex;
    flex-direction: column;
    width: 520px;
    margin: 100px auto auto auto;
    gap: 15px;
}
#blue{
    border : 1px solid;
    border-radius: 8px;
    background-color:  rgb(96, 85, 165);
    border-color:  rgb(96, 85, 165);
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 5px 0px 1px #d67272;
}
#box{
    border: 1px solid;
    border-radius: 8px;
    background-color: #FDF6F6;
    border-color: #FDF6F6;
    width: 400px;
    height: 370px;
    box-shadow: 1px 5px 0px 1px #d67272;
}
#firstname{
    border: 1px solid;
    border-radius: 6px;
    border-color: rgb(185, 182,211);
    width: 350px;
    height: 40px;
    display: flex;
    margin: 25px 25px 15px 25px;
    font-weight: bold;
}
#lastname{
    border: 1px solid;
    border-radius: 6px;
    border-color: rgb(185, 182,211);
    width: 350px;
    height: 40px;
    display: flex;
    margin: 15px 25px 15px 25px;
    font-weight: bold;
}
#email{
    border: 1px solid;
    border-radius: 6px;
    border-color: rgb(185, 182,211);
    width: 350px;
    height: 40px;
    display: flex;
    margin: 15px 25px 15px 25px;
    font-weight: bold;
}
#password{
    border: 1px solid;
    border-radius: 6px;
    border-color: rgb(185, 182,211);
    width: 350px;
    height: 40px;
    display: flex;
    margin: 15px 25px 15px 25px;
    font-weight: bold;
}
#green{
    border: 1px solid;
    border-radius: 6px;
    width: 358px;
    height: 43px;
    display: flex;
    background-color: rgb(56, 204, 140);
    margin: 15px 25px 15px 25px;
    box-shadow: inset -1px -1px 0px 2px #3CB371;
    font-weight: bolder;
    color: #FDF6F6;
}
#terms{
    text-align: center;
    font-size: 10px;
}
a{
    color: rgb(255, 122, 122);
}
@media (max-width: 768px){
    body{
        flex-direction: column;
        height: auto;
        text-align: center;
    }
    #lefttext{
        margin: 20px auto;
    }
}  
input:valid {
    border: 1px solid #000;
}
input:invalid {
    border: 2px solid#FF0000;
    background-image: url(icon-error.svg);
    background-repeat: no-repeat;
    background-position: right;
}